@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .line::before {
    display: flex;
    content: "";
    position: relative;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    bottom: -15px;
    width: 41px;
    height: 1px;
    background-color: #e71460;
  }

  .shadow--primary-2 {
    box-shadow: 4px 4px 56px rgba(255, 87, 34, 0.3);
  }

 
  
  .fade-in-from-right {
    animation: fadeInRight 0.5s both;
    transition: opacity 0.5s, transform 0.5s; /* Adicionando a transição para a animação */
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .fade-in-from-left {
    animation: fadeInLeft 0.5s both;
    transition: opacity 0.5s, transform 0.5s; /* Adicionando a transição para a animação */
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .fade-in-from-up {
    animation: fadeInUp 0.5s both;
    transition: opacity 0.5s, transform 0.5s; /* Adicionando a transição para a animação */
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
}

@layer components {

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }
}

@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}